dist/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Wide print</title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="loader">
      <div class="loader_inner"></div>
    </div>
    <div class="main-screen">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <header>
              <div class="header__logo"><img src="images/header_logo.png" alt="">
                <div class="header__logo-left">
                  <div class="header__title">ТМ  	&#171;Реклама Принт&#187;</div>
                  <div class="header__title-after">рекламная продукция в Киеве</div>
                </div>
              </div>
              <div class="header__cont">
                <div class="header__cont-left"><span>063 058-33-36</span><span>066 069-33-36</span><span>067 214-01-44</span></div>
                <div class="header__cont-right">
                  <div class="header__addres">г. Киев, бул. И. Лепсе, 8</div>
                  <div class="header__recall"><img src="images/header_recall.png" alt=""><a href="#">Обратный звонок</a></div>
                </div>
              </div>
            </header>
          </div>
        </div>
        <div class="row">
          <div class="menu-wrap">
            <div class="toggle-wrap">
              <div class="toggle-button"><span class="sandwich"><span class="sw-topper"> </span><span class="sw-bottom"> </span><span class="sw-footer"> </span></span></div>
            </div>
            <ul class="menu">
              <li><a class="to-why" href="#">Преимущества</a></li>
              <li><a class="to-surface" href="#">Печать и цена</a></li>
              <li><a class="to-after-print" href="#">Пост пресс</a></li>
              <li><a class="to-product" href="#">Продукция</a></li>
              <li><a class="to-trust" href="#">Нам дверяют</a></li>
              <li><a class="to-contact" href="#">Контакты</a></li>
            </ul>
          </div>
          <div class="col-md-9 col-md-offset-1">
            <h1>Широкоформатная печать в Киеве</h1>
            <button class="modal-click b-red">Заказать звонок</button><a class="maket-req" href="#"> <img src="images/maket.png" alt="">Требование к макету</a>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay">
      <div class="modal-window">
        <div class="modal__close"><img src="images/modal_close.png" alt=""></div>
        <div class="modal__left"></div>
        <div class="modal__right">
          <div class="modal__title">Заказать звонок менеджера</div>
          <form class="modal__form">
            <input id="phone" type="text" placeholder="+3 8(0__) ___-__-__">
            <input class="submit" type="submit" value="Заказать звонок ">
          </form>
        </div>
      </div>
    </div>
    <section class="s-we">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Почему мы?</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4 we-item__grid">
            <div class="we-item"><img src="images/we_1.png" alt="">
              <p>Современное высокопроизводительное оборудование</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 we-item__grid">
            <div class="we-item"><img src="images/we_2.png" alt="">
              <p>Высокий уровень качества и сервиса</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 we-item__grid">
            <div class="we-item"><img src="images/we_3.png" alt="">
              <p>Демократическая цена производителя</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="s-surface">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2>Печатаем на любых плоских поверхностях</h2>
          </div>
          <div class="col-md-5">
            <ul>
              <li>пленки</li>
              <li>баннер</li>
              <li>дерево</li>
              <li>пластик</li>
              <li>холст</li>
              <li>бумага</li>
              <li>металлиз</li>
              <li>материалы</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="surface__left">
              <div class="surface__img"><img src="images/equip_1.jpg" alt="">
                <p>Mutoh ValueJET 1624</p>
              </div>
              <div class="surface__descr">
                <div class="surface__after-img">Экосольвент</div>
                <h3>На гибких рулонных материалах
                  <div class="small">На баннере, плёнке, холсте, ткани, бумаге.</div>
                </h3>
                <div class="surface__price">
                  <div class="surface__row">
                    <div class="surface__row-left">1-10 м2  </div>
                    <div class="surface__row-right">240 грн. /м2</div>
                  </div>
                  <div class="surface__row">
                    <div class="surface__row-left">1-10 м2  </div>
                    <div class="surface__row-right">240 грн. /м2</div>
                  </div>
                  <div class="surface__row">
                    <div class="surface__row-left">1-10 м2  </div>
                    <div class="surface__row-right">240 грн. /м2</div>
                  </div>
                  <div class="surface__row">
                    <div class="surface__row-left">1-10 м2  </div>
                    <div class="surface__row-right">240 грн. /м2</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="surface__right">
              <div class="surface__img"><img src="images/equip_2.jpg" alt="">
                <p>Océ Arizona 350 </p>
              </div>
              <div class="surface__descr">
                <div class="surface__after-img">Планшетная UV</div>
                <h3>На жёстких листовых материалах
                  <div class="small">На вспененном ПВХ, акриле, пластиках, дереве, пробковом листе и т. д.</div>
                </h3>
                <div class="surface__price">
                  <div class="surface__row">
                    <div class="surface__row-left">1-10 м2  </div>
                    <div class="surface__row-right">240 грн. /м2</div>
                  </div>
                  <div class="surface__row">
                    <div class="surface__row-left">1-10 м2  </div>
                    <div class="surface__row-right">240 грн. /м2</div>
                  </div>
                  <div class="surface__row">
                    <div class="surface__row-left">1-10 м2  </div>
                    <div class="surface__row-right">240 грн. /м2</div>
                  </div>
                  <div class="surface__row">
                    <div class="surface__row-left">1-10 м2  </div>
                    <div class="surface__row-right">240 грн. /м2</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="s-after-print">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-12">
            <h2>Производим послепечатную обработку изделий</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-6 after-print__item"><img src="images/after_print_1.png" alt="">
            <h4>Ламинация</h4>
            <p>Нанесение защитной прозрачной плёнки на поверхность изделия для ащиты изображения от различных внешних воздействий.</p>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 after-print__item"><img src="images/after_print_2.png" alt="">
            <h4>Плоттерная резка</h4>
            <p>Прорезаем изделие до подложки или насквозь по заданному изображению для получения  любой формы.</p>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 after-print__item"><img src="images/after_print_3.png" alt="">
            <h4>Установка люверсов</h4>
            <p>Металлические или пластиковые втулки, устанавливаем для укрепления краёв отверстий, использующихся для продевания верёвок.</p>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 after-print__item"><img src="images/after_print_4.png" alt="">
            <h4>Фрезеровка</h4>
            <p>Металлические или пластиковые втулки, устанавливаем для укрепления краёв отверстий, использующихся для продевания верёвок.</p>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 after-print__item"><img src="images/after_print_5.png" alt="">
            <h4>Лазерная резка</h4>
            <p>Прорезаем изделие до подложки или насквозь по заданному изображению.</p>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 after-print__item"><img src="images/after_print_6.png" alt="">
            <h4>Гибка пластиков</h4>
            <p>Прорезаем изделие до подложки или насквозь по заданному изображению.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="s-call s_white">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="h2_white">Заказать звонок менеджера 
              <div class="small">Оставьте свой номер телефона в форме, в течении 15 минут с вами свяжется менеджер по оформлению заказов на печать</div>
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form>
              <input type="text" placeholder="Ваше имя">
              <input type="text" placeholder="Телефон">
              <input type="text" placeholder="Имейл">
              <div class="s-call__button">
                <input class="submit_red" type="submit" value="Заказать звонок">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="s-product">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Продукция
              <div class="small">Решаем любые задачи рекламной продукции,  помогая компаниям стать заметными на рынке</div><img src="images/header_logo.png" alt="">
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-6 product"><img src="images/product_1.jpg" alt="">
            <h4>Наклейки</h4>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 product"><img src="images/product_2.jpg" alt="">
            <h4>Стопперы</h4>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 product"><img src="images/product_3.jpg" alt="">
            <h4>Баннеры</h4>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 product"><img src="images/product_4.jpg" alt="">
            <h4>Бэклайт</h4>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 product"><img src="images/product_5.jpg" alt="">
            <h4>Шелфтокеры</h4>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 product"><img src="images/product_6.jpg" alt="">
            <h4>Воблеры</h4>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 product"><img src="images/product_7.jpg" alt="">
            <h4>Костеры</h4>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 product"><img src="images/product_8.jpg" alt="">
            <h4>Другое</h4>
          </div>
        </div>
      </div>
    </section>
    <section class="s-trust">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Нам дверяют</h2>
          </div>
        </div>
        <div class="row">
          <div class="trust__items">
            <div class="col-md-3 col-sm-4 col-xs-6"><img src="images/trust_1.jpg" alt=""></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img src="images/trust_2.jpg" alt=""></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img src="images/trust_3.jpg" alt=""></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img src="images/trust_4.jpg" alt=""></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img src="images/trust_5.jpg" alt=""></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img src="images/trust_6.jpg" alt=""></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img src="images/trust_7.jpg" alt=""></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img src="images/trust_8.jpg" alt=""></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img src="images/trust_9.jpg" alt=""></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img src="images/trust_10.jpg" alt=""></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img src="images/trust_11.jpg" alt=""></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img src="images/trust_12.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="contact s_white">
        <h2 class="h2_white">Контакты</h2>
        <div class="contact__addres">г. Киев. бул. И. Лепсе, 8</div>
        <div class="contact__phones"><span>063 058-33-36</span><span>066 069-33-36</span><span>067 214-01-44</span></div>
        <div class="contact__title-small">Заказать звонок менеджера</div>
        <form class="contact__form">
          <input id="phone1" type="text" placeholder="+3 8(0__) ___-__-__">
          <input class="submit" type="submit" value="Заказать звонок">
        </form><a class="maket-req" href="#"> <span class="img-wrap"><img src="images/maket.png" alt=""></span>
          <div class="maket-text">Требование к макету</div></a>
      </div>
      <div id="map"></div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="libs/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="libs/waypoints/lib/jquery.waypoints.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=  AIzaSyBLDdftVUUdZbvqbe9pWFii2_aFUhxE-fw &amp;callback=initMap"></script>
    <script type="text/javascript" src="js/custom.js"></script>
  </body>
</html>

src/html/index.pug
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		title Wide print
		link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="css/main.css")

	body
		div.loader
			div.loader_inner

		.main-screen

			.container
				.row
					.col-md-12
						header

							.header__logo
								img(src="images/header_logo.png" alt="")
								.header__logo-left
									.header__title ТМ  	&#171;Реклама Принт&#187;
									.header__title-after рекламная продукция в Киеве

							.header__cont
								.header__cont-left
									span 063 058-33-36
									span 066 069-33-36
									span 067 214-01-44

								.header__cont-right
									.header__addres г. Киев, бул. И. Лепсе, 8
									.header__recall
										img(src="images/header_recall.png" alt="")
										a(href="#") Обратный звонок
				.row
					.menu-wrap
						.toggle-wrap
							.toggle-button
								span.sandwich
									span.sw-topper 
									span.sw-bottom 
									span.sw-footer 
						ul.menu
							li
								a.to-why(href="#") Преимущества
							li
								a.to-surface(href="#") Печать и цена
							li
								a.to-after-print(href="#") Пост пресс
							li
								a.to-product(href="#") Продукция
							li
								a.to-trust(href="#") Нам дверяют
							li
								a.to-contact(href="#") Контакты

					.col-md-9.col-md-offset-1

						h1 Широкоформатная печать в Киеве

						button.modal-click.b-red Заказать звонок

						a(href="#").maket-req 
							img(src="images/maket.png" alt="")
							| Требование к макету

		.overlay
			.modal-window
				.modal__close
					img(src="images/modal_close.png" alt="")
				.modal__left

				.modal__right
					.modal__title Заказать звонок менеджера

					form.modal__form
						input#phone(type="text" placeholder="+3 8(0__) ___-__-__")
						input.submit(type="submit" value="Заказать звонок ")

		section.s-we
			.container
				.row
					.col-md-12
						h2 Почему мы?

				.row
					.col-md-4.col-sm-4.col-xs-4.we-item__grid
						.we-item
							img(src="images/we_1.png" alt="")
							p Современное высокопроизводительное оборудование

					.col-md-4.col-sm-4.col-xs-4.we-item__grid
						.we-item
							img(src="images/we_2.png" alt="")
							p Высокий уровень качества и сервиса


					.col-md-4.col-sm-4.col-xs-4.we-item__grid
						.we-item
							img(src="images/we_3.png" alt="")
							p Демократическая цена производителя

		section.s-surface
			.container
				.row
					.col-md-7
						h2 Печатаем на любых плоских поверхностях

					.col-md-5
						ul
							li пленки
							li баннер
							li дерево
							li пластик
							li холст
							li бумага
							li металлиз
							li материалы
				.row
					.col-md-6.col-sm-6
						.surface__left
							.surface__img
								img(src="images/equip_1.jpg" alt="")
								p Mutoh ValueJET 1624

							.surface__descr

								.surface__after-img Экосольвент

								h3 На гибких рулонных материалах
									.small На баннере, плёнке, холсте, ткани, бумаге.

								.surface__price
									.surface__row
										.surface__row-left 1-10 м2  
										.surface__row-right 240 грн. /м2

									.surface__row
										.surface__row-left 1-10 м2  
										.surface__row-right 240 грн. /м2

									.surface__row
										.surface__row-left 1-10 м2  
										.surface__row-right 240 грн. /м2

									.surface__row
										.surface__row-left 1-10 м2  
										.surface__row-right 240 грн. /м2

					.col-md-6.col-sm-6
						.surface__right
							.surface__img
								img(src="images/equip_2.jpg" alt="")
								p Océ Arizona 350 

							.surface__descr
								.surface__after-img Планшетная UV

								h3 На жёстких листовых материалах
									.small На вспененном ПВХ, акриле, пластиках, дереве, пробковом листе и т. д.

								.surface__price
									.surface__row
										.surface__row-left 1-10 м2  
										.surface__row-right 240 грн. /м2

									.surface__row
										.surface__row-left 1-10 м2  
										.surface__row-right 240 грн. /м2

									.surface__row
										.surface__row-left 1-10 м2  
										.surface__row-right 240 грн. /м2

									.surface__row
										.surface__row-left 1-10 м2  
										.surface__row-right 240 грн. /м2


		section.s-after-print
			.container
				.row
					.col-lg-8.col-md-12
						h2 Производим послепечатную обработку изделий

				.row
					.col-md-4.col-sm-4.col-xs-6.after-print__item
						img(src="images/after_print_1.png" alt="")
						h4 Ламинация
						p Нанесение защитной прозрачной плёнки на поверхность изделия для ащиты изображения от различных внешних воздействий.

					.col-md-4.col-sm-4.col-xs-6.after-print__item
						img(src="images/after_print_2.png" alt="")
						h4 Плоттерная резка
						p Прорезаем изделие до подложки или насквозь по заданному изображению для получения  любой формы.

					.col-md-4.col-sm-4.col-xs-6.after-print__item
						img(src="images/after_print_3.png" alt="")
						h4 Установка люверсов
						p Металлические или пластиковые втулки, устанавливаем для укрепления краёв отверстий, использующихся для продевания верёвок.

					.col-md-4.col-sm-4.col-xs-6.after-print__item
						img(src="images/after_print_4.png" alt="")
						h4 Фрезеровка
						p Металлические или пластиковые втулки, устанавливаем для укрепления краёв отверстий, использующихся для продевания верёвок.

					.col-md-4.col-sm-4.col-xs-6.after-print__item
						img(src="images/after_print_5.png" alt="")
						h4 Лазерная резка
						p Прорезаем изделие до подложки или насквозь по заданному изображению.

					.col-md-4.col-sm-4.col-xs-6.after-print__item
						img(src="images/after_print_6.png" alt="")
						h4 Гибка пластиков
						p Прорезаем изделие до подложки или насквозь по заданному изображению.

		section.s-call.s_white
			.container
				.row
					.col-md-12
						h2.h2_white Заказать звонок менеджера 
							.small Оставьте свой номер телефона в форме, в течении 15 минут с вами свяжется менеджер по оформлению заказов на печать

				.row
					.col-md-12
						form
							input(type="text" placeholder="Ваше имя")
							input(type="text" placeholder="Телефон")
							input(type="text" placeholder="Имейл")
							.s-call__button
								input.submit_red(type="submit" value="Заказать звонок")

		section.s-product
			.container
				.row
					.col-md-12
						h2 Продукция
							.small Решаем любые задачи рекламной продукции,  помогая компаниям стать заметными на рынке
							img(src="images/header_logo.png" alt="")

				.row
					.col-md-3.col-sm-4.col-xs-6.product
						img(src="images/product_1.jpg" alt="")
						h4 Наклейки
					.col-md-3.col-sm-4.col-xs-6.product
						img(src="images/product_2.jpg" alt="")
						h4 Стопперы
					.col-md-3.col-sm-4.col-xs-6.product
						img(src="images/product_3.jpg" alt="")
						h4 Баннеры
					.col-md-3.col-sm-4.col-xs-6.product
						img(src="images/product_4.jpg" alt="")
						h4 Бэклайт
					.col-md-3.col-sm-4.col-xs-6.product
						img(src="images/product_5.jpg" alt="")
						h4 Шелфтокеры
					.col-md-3.col-sm-4.col-xs-6.product
						img(src="images/product_6.jpg" alt="")
						h4 Воблеры
					.col-md-3.col-sm-4.col-xs-6.product
						img(src="images/product_7.jpg" alt="")
						h4 Костеры
					.col-md-3.col-sm-4.col-xs-6.product
						img(src="images/product_8.jpg" alt="")
						h4 Другое

		section.s-trust
			.container
				.row
					.col-md-12
						h2 Нам дверяют

				.row
					.trust__items
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_1.jpg" alt="")
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_2.jpg" alt="")
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_3.jpg" alt="")
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_4.jpg" alt="")
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_5.jpg" alt="")
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_6.jpg" alt="")
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_7.jpg" alt="")
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_8.jpg" alt="")
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_9.jpg" alt="")
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_10.jpg" alt="")
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_11.jpg" alt="")
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_12.jpg" alt="")

		footer
			.contact.s_white
				h2.h2_white Контакты
				.contact__addres г. Киев. бул. И. Лепсе, 8
				.contact__phones
					span 063 058-33-36
					span 066 069-33-36
					span 067 214-01-44

				.contact__title-small Заказать звонок менеджера
				form.contact__form
					input#phone1(type="text" placeholder="+3 8(0__) ___-__-__")
					input.submit(type="submit" value="Заказать звонок")

				a(href="#").maket-req 
					span.img-wrap
						img(src="images/maket.png" alt="")
					.maket-text Требование к макету

			#map





		script(src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous")

		script(type="text/javascript" src="libs/bootstrap/dist/js/bootstrap.min.js")
		script(type="text/javascript" src="libs/jquery.maskedinput/dist/jquery.maskedinput.min.js")
		script(type="text/javascript" src="libs/waypoints/lib/jquery.waypoints.min.js")
		script( async defer src="https://maps.googleapis.com/maps/api/js?key=  AIzaSyBLDdftVUUdZbvqbe9pWFii2_aFUhxE-fw &callback=initMap")
		script(type="text/javascript" src="js/custom.js")
